<%
  var posts = public.blog._data;
  var uniquePosts = Object.create(posts);
  var numberOfPosts = Object.keys(posts).length;
  var postAt = function (i) { return Object.keys(posts)[i]; }
  var getRandomPost = function () {
    var i = Math.floor(Math.random() * numberOfPosts),
        post = postAt(i),
        postObj = posts[post];
    postObj.slug = post;
    delete uniquePosts[post];
    numberOfPosts--;
    return postObj;
  }
%>

<script type="text/javascript">
var posts = <%- JSON.stringify(public.blog._data) %>;
</script>

<div class="span8">

<article>

    <div class="well span2 left thumbnail  thumbnail-main">
      <img src="<%- thumbnail %>" />
    </div>

    <h1><%- title  %></h1>

    <% if (typeof series === "string") { %>
      <h4>
        <%= series %><% if (typeof part === "number") { %> (part <%= part %>)<% } %>
      </h4>
    <% } %>

    <h5><span class="label label-info"><a href="/?category=<%- category %>"><%- category %></a></span> | <%- date %></h5>

    <%- yield  %>

    <br /><br />

    <div class="bio">
      <div class="span2">
        <img src="/images/about/tyson5.jpg" class="lazy" />
      </div>
      <div class="span5">
        <h3><a href="/about">About the Author</a></h3>
        <p><strong>Tyson Cadenhead</strong> is a Senior JavaScript Developer at <a href="http://aloompa.com">Aloompa</a>. He lives in the greater Nashville area. His specialty is writing large, scalable JavaScript applications on the client and server side. His passions are for good design, usability, and clean, reusable code.</p>
      </div>
    </div>

    <h5>Tags: 
    <% for(var i = 0; i < tags.length; i++) { %>
        <span class="label">
            <a href="/?tag=<%- tags[i] %>"><%- tags[i] %></a>
        </span>
    <% } %>
    </h5>

</article>

<div class="share">
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
</div>

<h3>Related Posts:</h3>

<div class="span12 related-posts">
<% for (var i = 0; i < 4; i++) { %>
  <div class="span2 well thumbnail">
    <% var randomPost = getRandomPost(); %>
    <a href="/blog/<%- randomPost.slug %>"><img src="<%- randomPost.thumbnail %>" /></a>
    <h5>
      <a href="/blog/<%- randomPost.slug %>"><%- randomPost.title %></a>
    </h5>
  </div>
<% } %>
</div>

<div class="google-things">

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5130799763611680"
       data-ad-slot="1525472392"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  </div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'tysoncadenhead';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>

<%- partial("../_sidebar") %>