{{> _header title='Blog'}}
    <h1>Blog</h1>
    <section class="blogposts">
        {{#posts}}
            <section class="blogpost-header">
                <a href="{{path}}" title="{{{title}}}">
                    <div class="thumbnail" style="background-image: url({{{thumbnail}}})">
                        <div class="thumbnail-overlay"></div>
                    </div>
                </a>
                <div class="blogpost-text">
                    <div class="title">
                        <a href="{{path}}" title="{{{title}}}">{{{title}}}</a>
                    </div>
                    <div class="date">{{{date}}}</div>
                </div>
            </section>
        {{/posts}}
    </section>
{{> _footer}}