<% var pages = Object.keys(public.blog._data).length / 10; %>

<div class="span8">
  <div id="blog-posts">
  <% var i = 0; %>
  <% for(var slug in public.blog._data){ %>

    <% if (public.blog._data[slug].published) { %>

      <article data-tags="<%= public.blog._data[slug].tags %>">

            <div class="well span2 left thumbnail thumbnail-main">
              <a href="/blog/<%- slug %>"><img class="lazy" data-original="<%- public.blog._data[slug].thumbnail %>" id="image-<%- slug %>" /></a>
            </div>

            <h2><a href="/blog/<%- slug %>"><%- public.blog._data[slug].title  %></a></h2>
            <% if (public.blog._data[slug].series) { %>
              <h4><%= public.blog._data[slug].series %><% if (public.blog._data[slug].part) { %> (part <%= public.blog._data[slug].part %>)<% } %></h4>
            <% } %>
            <h5><span class="label label-info"><a href="/?category=<%- public.blog._data[slug].category %>"><%- public.blog._data[slug].category %></a></span> <%- public.blog._data[slug].date %></h5>

            <% function excerpt(content) { %>
              <div class="teaser"><% return content.split("<!-- more -->")[0]; %></div>
            <% } %>

            <%- excerpt(partial("blog/" + slug)) %>

        </article>

        <% i++; %>

      <% } %>

  <% }; %>
  </div>

  <div class="pagination">
    <ul>
      <li class="disabled" id="page-back"><a href="#top">&#171;</a></li>
    </ul>
  </div>
</div>

<%- partial("_sidebar") %>