<div class="pagination">
  <ul>
    <li <% if (!Number(page)) { %>class="disabled"<% } %>><a href="?page=<%- (Number(page) - 1) %><% if (category) { %>&category=<%- category %><% } %><% if (tag) { %>&tag=<%- tag %><% } %>">&#171;</a></li>
    <% for (var i = 0; i < Number(pages); i++) { %>
        <li <% if (i == page) { %>class="active"<% } %>><a href="?page=<%- i %><% if (category) { %>&category=<%- category %><% } %><% if (tag) { %>&tag=<%- tag %><% } %>"><%- i + 1 %></a></li>
    <% } %>
    <li <% if ((Number(page) + 1) >= pages) { %>class="disabled"<% } %>><a href="?page=<%- (Number(page) + 1) %><% if (category) { %>&category=<%- category %><% } %><% if (tag) { %>&tag=<%- tag %><% } %>">&#187;</a></li>
  </ul>
</div>